.progressBar {
    --progress-bar-width: 0;
    --percent: 0;
    --badge-icon-color: #a855f7;
    --percent-margin-left: 0
}

.progressBar::after {
    width: var(--progress-bar-width);
    animation: progressBarAnimation 2.5s ease-in-out forwards;

}

.percent {
    margin-left: var(--percent-margin-left);
    animation: percentAnimation 2.5s ease-in-out forwards;
}

.badgeIconColor {
    color: var(--badge-icon-color);
}

@keyframes progressBarAnimation {
    from {
        width: 0;
    }
    to {
        width: var(--progress-bar-width);
    }
}

@keyframes percentAnimation {
    from {
        margin-left: 0;
    }
    to {
        margin-left: var(--percent-margin-left);
    }
}